flows/Call_Case_Excel_Generation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Cse_Excel_Generation</name>
        <label>Call Cse Excel Generation</label>
        <locationX>878</locationX>
        <locationY>521</locationY>
        <actionName>CNCallCaseExcelGeneration.CNCallCaseExcelGeneration</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CN_Assignment_Response_Result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Complaint_id</name>
            <value>
                <elementReference>CaseRecordIdSet</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CNCallCaseExcelGeneration.CNCallCaseExcelGeneration</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>CN_Assignment_After</name>
        <label>Assignment After</label>
        <locationX>778</locationX>
        <locationY>764</locationY>
        <assignmentItems>
            <assignToReference>ReponseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestResult.status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseCalloutResultMSG_Falied</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.CN_Case_Generation_Failed_Msg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseCalloutResultMSG_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.CN_Case_Generation_Success_Msg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestResult.error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CN_Decision_A</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CN_Assignment_Before</name>
        <label>Assignment Before</label>
        <locationX>881</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordIdSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MakeCaseRecordIdSet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CN_Get_Case_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CN_Assignment_Callout_Result_MSG_Failed</name>
        <label>Assignment Callout Result MSG Failed</label>
        <locationX>919</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>CaseCalloutResultMSG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseCalloutResultMSG_Falied</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CN_Create_API_Call_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CN_Assignment_Callout_Result_MSG_Success</name>
        <label>Assignment Callout Result MSG Success</label>
        <locationX>647</locationX>
        <locationY>1156</locationY>
        <assignmentItems>
            <assignToReference>CaseCalloutResultMSG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseCalloutResultMSG_Success</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CN_Create_API_Call_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CN_Assignment_Response_Result</name>
        <label>Assignment Response Result</label>
        <locationX>782</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>RequestResult.status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Cse_Excel_Generation.2XX.status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestResult.error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Cse_Excel_Generation.2XX.error</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RquestResponseCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Cse_Excel_Generation.responseCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CN_Assignment_After</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CN_Assignment_Wait_5_Mins_Msg</name>
        <label>Assignment Wait 5 Mins Msg</label>
        <locationX>1217</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>CaseCalloutResultMSG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseExcelGenerationWait5Mins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CN_Case_Generation_Callout_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CN_Case_Field_Assignment</name>
        <label>Case Field Assignment</label>
        <locationX>1391</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>LatestExcelGenerationButtonTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CN_Get_Case_Information.CN_Latest_Excel_Generate_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CN_Decision_Within_Five_minutes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CN_Decision_A</name>
        <label>Decision A</label>
        <locationX>772</locationX>
        <locationY>885</locationY>
        <defaultConnector>
            <targetReference>CN_Assignment_Callout_Result_MSG_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CN_Callout_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReponseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CN_Update_Case_Field</targetReference>
            </connector>
            <label>Callout Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>CN_Decision_If_Latest_Generate_Excel_Time_Null</name>
        <label>Decision If Latest Generate Excel Time Null</label>
        <locationX>1210</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>CN_Case_Field_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CN_Case_Latest_Generate_Excel_Time_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CN_Get_Case_Information.CN_Latest_Excel_Generate_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Cse_Excel_Generation</targetReference>
            </connector>
            <label>Case Latest Generate Excel Time Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>User can&apos;t resend request within 5 minutes</description>
        <name>CN_Decision_Within_Five_minutes</name>
        <label>Decision Within Five minutes</label>
        <locationX>1208</locationX>
        <locationY>536</locationY>
        <defaultConnector>
            <targetReference>CN_Assignment_Wait_5_Mins_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CN_If_Not_Within_Five_Minutes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateTimeBeforeFiveMinutesFromNow</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LatestExcelGenerationButtonTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Cse_Excel_Generation</targetReference>
            </connector>
            <label>If Not Within Five Minutes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>DateTimeBeforeFiveMinutesFromNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-0.004</expression>
    </formulas>
    <formulas>
        <name>MakeCaseRecordIdSet</name>
        <dataType>String</dataType>
        <expression>&quot;(&apos;&quot;&amp;{!CaseRecordId}&amp;&quot;&apos;)&quot;</expression>
    </formulas>
    <formulas>
        <name>RequestResultLogInformation</name>
        <dataType>String</dataType>
        <expression> &quot;Status:&quot; &amp;{!RequestResult.status}&amp;&quot;,Error:&quot;&amp;{!RequestResult.error}</expression>
    </formulas>
    <interviewLabel>Call Case Excel Generation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call Case Excel Generation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CN_Create_API_Call_Log</name>
        <label>Create API Call Log</label>
        <locationX>915</locationX>
        <locationY>1156</locationY>
        <connector>
            <targetReference>CN_Case_Generation_Callout_Result</targetReference>
        </connector>
        <inputAssignments>
            <field>CN_Class_Name__c</field>
            <value>
                <stringValue>Flow - Call Case Excel Generation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CN_Create_Time__c</field>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CN_Error_Message__c</field>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CN_Response_Body__c</field>
            <value>
                <elementReference>RequestResultLogInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CN_Status_Code__c</field>
            <value>
                <elementReference>RquestResponseCode</elementReference>
            </value>
        </inputAssignments>
        <object>CN_API_Call_Logger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CN_Get_Case_Information</name>
        <label>GetCaseInformation</label>
        <locationX>879</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CN_Decision_If_Latest_Generate_Excel_Time_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CN_Latest_Excel_Generate_Time__c</queriedFields>
        <queriedFields>CN_Excel_Generation_Time__c</queriedFields>
        <queriedFields>ProductId</queriedFields>
        <queriedFields>CN_SAP_Batch_Number__c</queriedFields>
        <queriedFields>CN_SKU_Quantity__c</queriedFields>
        <queriedFields>CN_DN__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CN_Update_Case_Field</name>
        <label>Update Case Field</label>
        <locationX>647</locationX>
        <locationY>1002</locationY>
        <connector>
            <targetReference>CN_Assignment_Callout_Result_MSG_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CN_DN__c</field>
            <value>
                <elementReference>CN_Get_Case_Information.CN_DN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CN_Latest_Excel_Generate_Time__c</field>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CN_SAP_Batch_Number__c</field>
            <value>
                <elementReference>CN_Get_Case_Information.CN_SAP_Batch_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CN_SKU_Quantity__c</field>
            <value>
                <elementReference>CN_Get_Case_Information.CN_SKU_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>CN_Get_Case_Information.ProductId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>CN_Case_Generation_Callout_Result</name>
        <label>Case Generation Callout Result</label>
        <locationX>1217</locationX>
        <locationY>1156</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CallCaseExcelGenerationResult</name>
            <fieldText>&lt;p&gt;{!CaseCalloutResultMSG}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>751</locationX>
        <locationY>87</locationY>
        <connector>
            <targetReference>CN_Assignment_Before</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseCalloutResultMSG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseCalloutResultMSG_Falied</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseCalloutResultMSG_Success</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseExcelGenerationWait5Mins</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.CN_Case_Generation_Wait_5min_Msg</elementReference>
        </value>
    </variables>
    <variables>
        <description>Current case record Id</description>
        <name>CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRecordIdSet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LatestExcelGenerationButtonTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReponseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestResult</name>
        <apexClass>ExternalService__CNCallCaseExcelGeneration_CNCallCaseExcelGeneration_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RquestResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>test</name>
        <apexClass>ExternalService__CNCallCaseExcelGeneration_CNCallCaseExcelGeneration_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
