flows/CN_Chef_Assignment_link_to_Che_UT.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Chef_Assigned_Recode_Chef_UT</name>
        <label>Assign Chef Assigned Recode Chef UT</label>
        <locationX>976</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>Input_ChefAssignedRecord.CN_Chef_UT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordID_ChefUTID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Chef_UT_ID_Field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Chef_Assigned_Record</name>
        <label>Check Chef Assigned Record</label>
        <locationX>441</locationX>
        <locationY>119</locationY>
        <defaultConnector>
            <targetReference>Check_Chef_End_Work_Day_And_Chef</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chef_Assigned_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_ChefAssignedRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Chef Assigned Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Chef_End_Work_Day_And_Chef</name>
        <label>Check Chef End Work Day And Chef</label>
        <locationX>438</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chef_End_Work_Day_Or_Chef_Is_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Input_ChefAssignedRecord.CN_Chef_Work_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_ChefAssignedRecord.CN_Chef__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Chef End Work Day Or Chef Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Chef_UT_is_updated</name>
        <label>Check Chef UT is updated</label>
        <locationX>799</locationX>
        <locationY>214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_ChefAssignedRecord.CN_Chef_UT__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>RecordID_ChefUTID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chef_Assigned_Recode_Chef_UT</targetReference>
            </connector>
            <label>Is Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Chef_UT_Record</name>
        <label>Check Chef UT Record</label>
        <locationX>656</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>Check_Chef_UT_is_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Is_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordID_ChefUTID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Record Is Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>Month</name>
        <dataType>String</dataType>
        <expression>Text(Month({!Input_ChefAssignedRecord.CN_Chef_Work_End_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>Year</name>
        <dataType>String</dataType>
        <expression>Text(Year({!Input_ChefAssignedRecord.CN_Chef_Work_End_Date__c}))</expression>
    </formulas>
    <interviewLabel>CN Update Chef UT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CN Chef Assignment link to Che UT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Chef_UT_Record</name>
        <label>Create Chef UT Record</label>
        <locationX>997</locationX>
        <locationY>453</locationY>
        <assignRecordIdToReference>RecordID_ChefUTID</assignRecordIdToReference>
        <inputAssignments>
            <field>CN_Month__c</field>
            <value>
                <elementReference>Month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CN_Year__c</field>
            <value>
                <elementReference>Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordId_ChefUTRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>CN_Chef_UT__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Chef_UT_Record_ID</name>
        <label>Get Chef UT Record ID</label>
        <locationX>520</locationX>
        <locationY>422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Chef_UT_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CN_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Month</elementReference>
            </value>
        </filters>
        <filters>
            <field>CN_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Year</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId_ChefUTRecordTypeId</elementReference>
            </value>
        </filters>
        <object>CN_Chef_UT__c</object>
        <outputAssignments>
            <assignToReference>RecordID_ChefUTID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_ID</name>
        <label>Get Chef UT Record Type ID</label>
        <locationX>350</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Chef_UT_Record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CN_Chef_UT</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CN_Chef_UT__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordId_ChefUTRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Chef_UT_ID_Field</name>
        <label>Update Chef UT ID Field</label>
        <locationX>1180</locationX>
        <locationY>305</locationY>
        <inputReference>Input_ChefAssignedRecord</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>68</locationX>
        <locationY>94</locationY>
        <connector>
            <targetReference>Check_Chef_Assigned_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Input_ChefAssignedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CN_Chefs_Assigned__c</objectType>
    </variables>
    <variables>
        <name>RecordID_ChefUTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordId_ChefUTRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
