flows/CN_Create_Chef_UT_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_New_Chef_UT_Record_List</name>
        <label>Add to New Chef UT Record List</label>
        <locationX>720</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>NewChefUTRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewChefUT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Create_New_Chef_UT</name>
        <label>Assign Create New Chef UT</label>
        <locationX>1422</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>CreateNewChefUT</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Current_Chef_UT_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Create_New_Chef_UT</name>
        <label>Assign Default Create New Chef UT</label>
        <locationX>980</locationX>
        <locationY>38</locationY>
        <assignmentItems>
            <assignToReference>CreateNewChefUT</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Current_Chef_UT_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Year</name>
        <label>Assign Year</label>
        <locationX>121</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>List_Year</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_Year</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Year_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Integration_User_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Month_List</name>
        <label>Assing Month List</label>
        <locationX>125</locationX>
        <locationY>207</locationY>
        <assignmentItems>
            <assignToReference>List_Month</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_Month</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_Month</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_Month</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_Month</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_Month</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>6</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_Month</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_Month</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_Month</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>9</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_Month</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>10</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_Month</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>11</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_Month</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>12</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Chef_UT</name>
        <label>Create New Chef UT</label>
        <locationX>879</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>NewChefUT.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChefUTRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChefUT.CN_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChefUT.CN_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChefUT.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Integration_User_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_Chef_UT_Record_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Chef_UT_Record</name>
        <label>Check Chef UT Record</label>
        <locationX>1418</locationX>
        <locationY>37</locationY>
        <defaultConnector>
            <targetReference>Loop_Current_Chef_UT_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chef_UT_Record_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Current_Chef_UT_List.CN_Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Year</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Current_Chef_UT_List.CN_Month__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Month</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Create_New_Chef_UT</targetReference>
            </connector>
            <label>Chef UT Record Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_New_Chef_UT_Records</name>
        <label>Check New Chef UT  Records</label>
        <locationX>468</locationX>
        <locationY>422</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Chef_UT_Records_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewChefUTRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Chef_UT_Record</targetReference>
            </connector>
            <label>New Chef UT  Records Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_Create_New_Chef_UT</name>
        <label>Check to Create New Chef UT</label>
        <locationX>1053</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>Loop_Month</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_to_Create_New_Chef_UT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateNewChefUT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Chef_UT</targetReference>
            </connector>
            <label>Need to Create New Chef UT</label>
        </rules>
    </decisions>
    <formulas>
        <name>Current_Year</name>
        <dataType>String</dataType>
        <expression>Text(Year({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>Current_Year_1</name>
        <dataType>String</dataType>
        <expression>Text(Year({!$Flow.CurrentDate})+1)</expression>
    </formulas>
    <interviewLabel>CN Create Chef UT  Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CN Create Chef UT  Record</label>
    <loops>
        <name>Loop_Current_Chef_UT_List</name>
        <label>Loop  Current Chef UT  List</label>
        <locationX>1150</locationX>
        <locationY>45</locationY>
        <collectionReference>Get_Chef_UT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Chef_UT_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_to_Create_New_Chef_UT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Month</name>
        <label>Loop Month</label>
        <locationX>711</locationX>
        <locationY>55</locationY>
        <collectionReference>List_Month</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Default_Create_New_Chef_UT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Year</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Year</name>
        <label>Loop Year</label>
        <locationX>503</locationX>
        <locationY>66</locationY>
        <collectionReference>List_Year</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Month</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_New_Chef_UT_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Chef_UT_Record</name>
        <label>Create Chef UT Record</label>
        <locationX>473</locationX>
        <locationY>591</locationY>
        <inputReference>NewChefUTRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Chef_UT</name>
        <label>Get Chef UT</label>
        <locationX>356</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Year</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 )</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChefUTRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CN_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Year</elementReference>
            </value>
        </filters>
        <filters>
            <field>CN_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Year_1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CN_Chef_UT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Chef_UT_Record_Type_ID</name>
        <label>Get Chef UT Record Type ID</label>
        <locationX>308</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Chef_UT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CN_Chef_UT__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CN_Chef_UT</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ChefUTRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Integration_User_ID</name>
        <label>Get Integration User ID</label>
        <locationX>152</locationX>
        <locationY>465</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Chef_UT_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CN_Is_Integration_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>32</locationX>
        <locationY>2</locationY>
        <connector>
            <targetReference>Assing_Month_List</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-09-12</startDate>
            <startTime>23:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ChefUTRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateNewChefUT</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CurrentChefUTRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CN_Chef_UT__c</objectType>
    </variables>
    <variables>
        <name>DateList</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>List_Month</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>List_Year</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewChefUT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CN_Chef_UT__c</objectType>
    </variables>
    <variables>
        <name>NewChefUTRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CN_Chef_UT__c</objectType>
    </variables>
</Flow>
