flows/CN_Quote_Item_Populate_Price.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>Populate QuoteItem.UnitPrice with unit price with tax</description>
    <environments>Default</environments>
    <formulas>
        <name>formulafortax</name>
        <dataType>Number</dataType>
        <expression>{!$Record.UnitPrice} * ( 1 + VALUE(LEFT({!$Record.CN_Tax_Formula__c},LEN({!$Record.CN_Tax_Formula__c})-1))/100)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Quote Item Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CN Quote Item Populate Price</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>更新标志位，表明Saels Price是被Flow自动赋值，不要被Validation Rule拦截</description>
        <name>CN_Update_Quote_Item_IF_Flow_Update</name>
        <label>Update Quote Item IF Flow Update</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>update_Sales_Price_with_tax</targetReference>
        </connector>
        <inputAssignments>
            <field>CN_IF_Flow_update_Sales_Price__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>把创建的时候的Sales Price加上Tax</description>
        <name>update_Sales_Price_with_tax</name>
        <label>update Sales Price with tax</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>formulafortax</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CN_Update_Quote_Item_IF_Flow_Update</targetReference>
        </connector>
        <filterFormula>{!$Setup.Trigger_Switcher_Setting__c.EnableFlow__c} = True &amp;&amp; ISBLANK({!$Record.Quote.CN_Source_Quote__c})</filterFormula>
        <object>QuoteLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
