flows/Trigger_Generate_Excel_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>InputRecordId</name>
        <label>InputRecordId</label>
        <locationX>792</locationX>
        <locationY>176</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Generate_Excel</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Trigger Generate Excel Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger Generate Excel Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirm_Generate_Excel</name>
        <label>Confirm Generate Excel</label>
        <locationX>339</locationX>
        <locationY>284</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TriggerCaseExcelGeneration</targetReference>
        </connector>
        <fields>
            <name>ConfirmInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Start generating Excel&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>InputRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>TriggerCaseExcelGeneration</name>
        <label>Trigger Case Excel Generation</label>
        <locationX>542</locationX>
        <locationY>402</locationY>
        <flowName>Call_Case_Excel_Generation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
